name: Playwright Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps
      - name: Set environment variables
        run: |
          echo "PUBLIC_POSTHOG_ENABLED=false" >> $GITHUB_ENV
          echo "PUBLIC_POSTHOG_API_KEY=null" >> $GITHUB_ENV
      - name: Run Playwright tests
        run: bunx playwright test
        timeout-minutes: 10
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
